<!-- Modal Body -->
        <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
        <div class="modal fade" id="confirmarRemocao" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            role="dialog"  >
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered " role="document">
                <div class="modal-content">
                    <div class="modal-header text-bg-danger">
                        <h5 class="modal-title" id="modalTitleId">
                            Confirmação
                        </h5>
                    </div>
                    <div class="modal-body text-start">Deseja realmente remover o Item do Carrinho?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Não
                        </button>

                        <form action="/cliente/post_remover_item" method="post" class="d-inline-block">
                            <input type="hidden" name="id_produto" value="{{i.id_produto}}">
                            <button class="btn btn-danger">Sim</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- Optional: Place to the bottom of scripts -->
        <!-- <script>
            const myModal = new bootstrap.Modal(
                document.getElementById("modalId"),
                options,
            );
        </script> -->